{% load static %}

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Mijn website</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>

<header class="page-header">
    <h1>Mijn website</h1>
</header>

<main class="content">

    {% for speler in spelers %}

    <article class="post">
        <div class="date">
            {{ speler.datum_invoer }}
        </div>

        <h2>{{ speler.naam }}</h2>

        <p>
            <strong>Actuele voetbalclub:</strong>
            {{ speler.actuele_voetbalclub }}
        </p>

        <p>
            <strong>Auteur:</strong>
            {{ speler.auteur }}
        </p>
    </article>

    {% endfor %}

</main>

<footer class="footer"></footer>

</body>
</html>